{% extends 'base.html.twig' %}


{% block title %}
  lalaina projet
{% endblock %}


{% block body  %}



  {% block header %}  
    {% include 'header/header.html.twig' %}
  {% endblock %}


        <div class="ftco-blocks-cover-1">
          <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')">
            <div class="container">
              <div class="row align-items-center justify-content-center text-center">
                <div class="col-md-7">
                  <h1 class="mb-3">More Than Just A Haircut</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta veritatis in tenetur doloremque, maiores doloribus officia iste. Dolores.</p>
                  <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="site-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="img-years">
                  <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                  <div class="year">
                    <span>3 <span>years in <br>excellent service</span></span>
                  </div>
                </div>

              </div>
              <div class="col-lg-5 ml-auto pl-lg-5 text-center">
                <h3 class="scissors text-center">Welcome To Barberz!</h3>
                <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nesciunt nemo vel earum maxime neque!</p>
                <p><a href="#" class="btn btn-primary">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>

        

        <div class="site-section bg-light">
          <div class="container">
            <div class="row justify-content-center  mb-5">
              <div class="col-md-7 text-center">
                <h3 class="scissors text-center">Services &amp; Pricing</h3>
                <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nesciunt nemo vel earum maxime neque!</p>

                <p class="text-center">
                  <a href="#" class="btn btn-primary custom-prev">Prev</a>
                  <a href="#" class="btn btn-primary custom-next">Next</a>
                </p>
              </div>

            </div>
            <div class="row">
              <div class="col-12">

                <div class="nonloop-block-13 owl-carousel d-flex">
                  
                  <div class="item-1 h">
                    <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                    <div class="item-1-contents">
                      <h3>Haircut</h3>
                      <ul>
                        <li class="d-flex"><span>Men's Cut</span> <span class="price ml-auto">$29.00</span></li>
                        <li class="d-flex"><span>Men's Cut with Shampoo and Blow Dry</span><span class="price ml-auto">$10.00</span></li>
                        <li class="d-flex"><span>Ladie's Cut with Shampoo and Blow Dry</span><span class="price ml-auto">$32.00</span></li>
                        <li class="d-flex"><span>Head Shave</span><span class="price ml-auto">$23.00</span></li>
                        <li class="d-flex"><span>Hair Art</span><span class="price ml-auto">$54.00</span></li>
                      </ul>
                    </div>
                    
                  </div>

                  <div class="item-1 h">
                    <img src="images/img_2.jpg" alt="Image" class="img-fluid">
                    <div class="item-1-contents">
                      <h3>Hair Styling</h3>
                      <ul>
                        <li class="d-flex"><span>Shampoo</span> <span class="price ml-auto">$29.00</span></li>
                        <li class="d-flex"><span>Blow Dry</span><span class="price ml-auto">$10.00</span></li>
                        <li class="d-flex"><span>Iron</span><span class="price ml-auto">$32.00</span></li>
                        <li class="d-flex"><span>Brazilian Blow Out</span><span class="price ml-auto">$23.00</span></li>
                        <li class="d-flex"><span>Hair Art</span><span class="price ml-auto">$54.00</span></li>
                      </ul>
                    </div>
                    
                  </div>

                  <div class="item-1 h">
                    <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                    <div class="item-1-contents">
                      <h3>Hair Scalp Care</h3>
                      <ul>
                        <li class="d-flex"><span>Shampoo</span> <span class="price ml-auto">$29.00</span></li>
                        <li class="d-flex"><span>Blow Dry</span><span class="price ml-auto">$10.00</span></li>
                        <li class="d-flex"><span>Iron</span><span class="price ml-auto">$32.00</span></li>
                        <li class="d-flex"><span>Brazilian Blow Out</span><span class="price ml-auto">$23.00</span></li>
                        <li class="d-flex"><span>Hair Art</span><span class="price ml-auto">$54.00</span></li>
                      </ul>
                    </div>
                    
                  </div>

                </div>
                
              </div>
            </div>
          </div>
        </div>


        <div class="site-section">
          <div class="container">
            <div class="row justify-content-center mb-5">
              <div class="col-md-7 text-center">
                <h3 class="scissors text-center">More Hair Styles</h3>
                <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nesciunt nemo vel earum maxime neque!</p>
              </div>
            </div>
            <div class="row hair-style">
              <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <a href="#" class="place">
                  <img src="images/img_1.jpg" alt="Image placeholder">
                  <h2>Beard Shaving</h2>
                  <span>$50.00 only</span>
                </a>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <a href="#" class="place">
                  <img src="images/img_2.jpg" alt="Image placeholder">
                  <h2>Crew Cut</h2>
                  <span>$50.00 only</span>
                </a>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <a href="#" class="place">
                  <img src="images/img_3.jpg" alt="Image placeholder">
                  <h2>Beard Trim</h2>
                  <span>$50.00 only</span>
                </a>
              </div>
              
            </div>
          </div>
        </div>
        <!-- END section -->

        <div class="site-section section-3" data-stellar-background-ratio="0.5" style="background-image: url('images/hero_2.jpg');">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-7 text-center mb-5">
                <h2 class="text-white scissors primary-color-icon text-center">More Services</h2>
                <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quo doloribus, suscipit libero, voluptate aliquam.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-1">
                  <span class="service-1-icon">
                    <span class="flaticon-bald"></span>
                  </span>
                  <div class="service-1-contents">
                    <h3>Hair Cut</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-1">
                  <span class="service-1-icon">
                    <span class="flaticon-beard"></span>
                  </span>
                  <div class="service-1-contents">
                    <h3>Facial &amp; Body Care</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-1">
                  <span class="service-1-icon">
                    <span class="flaticon-scissors"></span>
                  </span>
                  <div class="service-1-contents">
                    <h3>Massages</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-1">
                  <span class="service-1-icon">
                    <span class="flaticon-hair-spray"></span>
                  </span>
                  <div class="service-1-contents">
                    <h3>Hair Cut</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-1">
                  <span class="service-1-icon">
                    <span class="flaticon-hair"></span>
                  </span>
                  <div class="service-1-contents">
                    <h3>Facial &amp; Body Care</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-1">
                  <span class="service-1-icon">
                    <span class="flaticon-barber-shop"></span>
                  </span>
                  <div class="service-1-contents">
                    <h3>Massages</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


        
        
        <div class="site-section bg-light">
          <div class="container">
            <div class="row justify-content-center text-center mb-5">
              <div class="col-7 text-center mb-5">
                <h2 class="scissors text-center">Our Top Client Says</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="testimonial-2">
                  <div class="d-flex v-card align-items-center mb-4">
                    <img src="images/person_1.jpg" alt="Image" class="img-fluid mr-3">
                    <span>Mike Fisher</span>
                  </div>
                  <blockquote>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                  </blockquote>
                  
                </div>
              </div>
              <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="testimonial-2">
                  <div class="d-flex v-card align-items-center mb-4">
                    <img src="images/person_2.jpg" alt="Image" class="img-fluid mr-3">
                    <span>Jean Stanley</span>
                  </div>
                  <blockquote>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                  </blockquote>
                  
                </div>
              </div>
              <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="testimonial-2">
                  <div class="d-flex v-card align-items-center mb-4">
                    <img src="images/person_3.jpg" alt="Image" class="img-fluid mr-3">
                    <span>Katie Rose</span>
                  </div>
                  <blockquote>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                  </blockquote>
                  
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="site-section bg-white">
          <div class="container">
            <div class="row justify-content-center text-center mb-5">
              <div class="col-7 text-center mb-5">
                <h2 class="scissors text-center">Our Blog</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!</p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                  <a href="single.html">
                    <img src="images/img_1.jpg" alt="Image"
                    class="img-fluid">
                  </a>
                  <div class="post-entry-1-contents">
                    
                    <h2><a href="single.html">Lorem ipsum dolor sit amet</a></h2>
                    <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                  <a href="single.html">
                    <img src="images/img_2.jpg" alt="Image"
                    class="img-fluid">
                  </a>
                  <div class="post-entry-1-contents">
                    
                    <h2><a href="single.html">Lorem ipsum dolor sit amet</a></h2>
                    <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                  <a href="single.html">
                    <img src="images/img_3.jpg" alt="Image"
                    class="img-fluid">
                  </a>
                  <div class="post-entry-1-contents">
                    
                    <h2><a href="single.html">Lorem ipsum dolor sit amet</a></h2>
                    <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="site-section section-3" data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg');">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-7 text-center mb-5">
                <h2 class="text-white scissors primary-color-icon text-center">Quality Haircut</h2>
                <p class="lead text-white mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quo doloribus, suscipit libero, voluptate aliquam.</p>
                <p><a href="#" class="btn btn-primary">Contact Us Now</a></p>
              </div>
            </div>
          </div>
        </div>

        

      </div>

    </body>





  {% block footer %}
    {% include 'footer/footer.html.twig' %}
  {% endblock %}
        
{% endblock %}